<div class="mt-4">
  <h2>To watch list:</h2>
  <ng-container *ngIf="!loadingList; else loadingSpinner">
    <div class="row mt-1 pl-3" *ngFor="let movie of movies; let i = index">
      <div class="alert alert-warning col-8">
        " {{ movie.name }} "
      </div>
      <div class="col-3" *ngIf="!deletingMovie || !movie.isDeleted; else deletingSpinner">
        <button
          type="button"
          class="btn btn-danger p-2"
          (click)="deleteMovie(movie.id, i)"
        >Delete
        </button>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingSpinner>
    <div *ngIf="loadingList" class="spinner-border"></div>
  </ng-template>
</div>
<ng-template #deletingSpinner>
  <div *ngIf="deletingMovie" class="spinner-border"></div>
</ng-template>
