<form class="form-inline mt-3" (ngSubmit)="addMovie()">
  <div class="form-group mr-2">
    <input
      type="text"
      class="form-control"
      name="movieName"
      id="exampleFormControlInput1"
      placeholder="Enter the name of movie"
      #nameMovieInput
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="adding">Add</button>
  <div *ngIf="adding" class="spinner-border"></div>
</form>
